@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22D4FD;
}

.display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.display__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.display__content__title {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.display__content__text {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.display__content__buttons {
    display: flex;
    justify-content: space-between;
}

.display__content__buttons__links {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.display__img {
    width: 450px;
    height: 500px;
    border-radius: 16px;
}